.directory
venv/
pyvenv/
build/
dist/
*.egg-info/
*.log
*.pyc
.~*#
local_settings.py
debian/files
debian/pycompat
debian/*.postinst.debhelper
debian/*.prerm.debhelper
debian/*.substvars
debian/python-*/
debian/tanto/
python-build-stamp-*
.project
.pydevproject
.settings
*.iml
.idea/