[default_settings]
path="/usr/lib/nagios/plugins/" # On Debian
#path="/usr/share/nagios/libexec/" # On Arch Linux

[check_load]
command="check_load --warning=2,2,2 --critical=4,4,4"

[check_swap]
command="check_swap --warning=50% --critical=10%"
#servers = nagios2, shinken1

[check_disk]
command="check_disk --warning=10% --critical=5%"
#servers=nagios1, nagios2

[check_users]
command="check_users --warning=4 --critical=10"

[check_procs]
command="check_procs --warning=250 --critical=400"

#[check_pgsql]
#command="check_pgsql --hostname=localhost --database=test --logname=test --password=test --warning=1 --critical=2"
