[default_settings]
port=5667
encryption_mode=0

[nagios1]
host=nagios1.example.net
password=helloworld
#custom_fqdn=monitored.example.net # Uncomment to customize the Fully Qualified Domain Name of the monitored server

#[nagios2]
#host=nagios2.example.net
#password=helloworld