Source: tanto
Maintainer: Ludovic Gasc <ludovic.gasc@eyepea.eu>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7.4.3), python, dh-virtualenv, python-dev
Standards-Version: 3.9.5

Package: tanto
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, nagios-plugins
Conflicts: ep-monitoring
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Takes monitoring data from Nagios-plugins to push with NSCA 
 To monitor the servers with Shinken, Nagios or Icinga, system administrators usually configure active checks of the monitored servers.
 It means the monitoring system must have a direct network access to the monitored server.
 .
 With Tanto, this model is reverted, it does passive checks of your monitored servers.
 You don't need to open an access from your monitoring system to the monitored servers.
 .
 The main use case of this tool is to monitor distant servers in a complex network where you can't connect directly for security reasons, typically with a large client.
 You need only to open NSCA or HTTP(S) port from the monitored server to the monitoring system.
 .
