#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1

%:
	dh $@ --with python-virtualenv

override_dh_auto_clean:
	rm -Rf ../tanto_*
	rm -Rf build *.egg-info dist
	dh_auto_clean

override_dh_fixperms:
	dh_fixperms -v -X/var/log/tanto

override_dh_link:
	dh_link

	mkdir -p ./debian/tanto/etc/tanto
	cp ./debian/tanto/usr/share/python/tanto/lib/python2.7/site-packages/tanto-1.0-py2.7.egg/etc/tanto/logging.ini ./debian/tanto/etc/tanto/logging.ini
	cp ./debian/tanto/usr/share/python/tanto/lib/python2.7/site-packages/tanto-1.0-py2.7.egg/etc/tanto/nagios_plugins.cfg ./debian/tanto/etc/tanto/nagios_plugins.cfg
	cp ./debian/tanto/usr/share/python/tanto/lib/python2.7/site-packages/tanto-1.0-py2.7.egg/etc/tanto/nsca.cfg ./debian/tanto/etc/tanto/nsca.cfg
	cp ./debian/tanto/usr/share/python/tanto/lib/python2.7/site-packages/tanto-1.0-py2.7.egg/etc/tanto/ws_shinken.cfg ./debian/tanto/etc/tanto/ws_shinken.cfg

	mkdir -p ./debian/tanto/etc/cron.d
	cp ./debian/tanto/usr/share/python/tanto/lib/python2.7/site-packages/tanto-1.0-py2.7.egg/etc/cron.d/tanto ./debian/tanto/etc/cron.d/tanto
	
	mkdir -p ./debian/tanto/usr/bin
	ln -s /usr/share/python/tanto/bin/tanto ./debian/tanto/usr/bin/tanto